<div class="container">
  <div class="row">
    <h1 class="auth-form-title">Login</h1>
    <form>
      <div class="form-group">
        <label htmlFor="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter email"
          *ngValue="email"
        />
      </div>
      <div class="form-group">
        <label htmlFor="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
          *ngValue="password"
        />
      </div>
      <div>
        <p>{{ error }}</p>
        <p *ngIf="data.error">Error in authentication</p>
      </div>
      <button type="submit" class="btn btn-primary" (click)="login()">
        Login
      </button>
    </form>
  </div>
</div>
