<div class="container">
  <div class="row">
    <h1 class="auth-form-title">Login</h1>
    <form>
      <div class="form-group">
        <label htmlFor="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email"
          [(ngModel)]="email"
        />
      </div>
      <div class="form-group">
        <label htmlFor="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Password"
          [(ngModel)]="password"
        />
      </div>
      <div *ngIf="error">
        <p class="text-danger">{{ error }}</p>
      </div>
      <button type="button" class="btn btn-primary" (click)="login()">
        Login
      </button>
    </form>
  </div>
</div>
