<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="auth-form">
        <div class="auth-form-header">
          <h1 class="auth-form-title">Login</h1>
        </div>
        <div class="auth-form-body">
          <form>
            <div class="form-group">
              <label htmlFor="email">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Enter email"
              />
            </div>
            <div class="form-group">
              <label htmlFor="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
              />
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
